<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>EAIIS-py-terminal</title>
</head>
<body>
    <div class="wrapper">
        <div class="title">
            <h1>Терминал учета выдачи оборудования</h1>
        </div>
        <div class="rbutton"><a href="/newTakeRequest">Взять/Сдать оборудование</a></div>
        <div class="rbutton"><a href="/newDevice">Внести оборудование в базу</a></div>
        <div class="rbutton"><a href="/route">(Не придумал)))</a></div>
    </div>
</body>
</html>