<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EAIIS-pi-terminal</title>
</head>
<body>
    <div class="wrapper">
        <div class="title">
            <h1>Терминал учета выдачи оборудования</h1>
            <span>Окно выдачи/сдачи оборудования</span>
        </div>
        <div class="choise-wrapper">
            <span class="selected" id="take" >Взять оборудование</span><span id="return">Вернуть оборудование</span>
        </div>
        <div class="check-container">
            <div class="check-elem">
                <button onclick="read_nfc(this)">
                    <span>Считать метку оборудования</span>
                    <div class="img-container good disabled"><img src="../static/img/OK.svg" alt=""></div>
                    <div class="img-container error disabled"><img src="../static/img/ERR.svg" alt=""></div>
                    <div class="img-container waiting disabled"><img src="../static/img/wait.svg" alt=""></div>
                </button>
                <div class="img-container info"><img src="../static/img/device.svg" alt="device"><span id="device">info</span></div>
            </div>
            <div class="check-elem">
                <button onclick="read_rfid(this)">
                    <span>Считать пропуск студента</span>
                    <div class="img-container good disabled"><img src="../static/img/OK.svg" alt=""></div>
                    <div class="img-container error disabled"><img src="../static/img/ERR.svg" alt=""></div>
                    <div class="img-container waiting disabled"><img src="../static/img/wait.svg" alt=""></div>
                </button>
                <div class="img-container info"><img src="../static/img/user.svg" alt="user"><span id="rfid-1">info</span></div>
            </div>
            <div class="check-elem">
                <button onclick="read_rfid_2(this)">
                    <span>Считать пропуск преподавателя</span>
                    <div class="img-container good disabled"><img src="../static/img/OK.svg" alt=""></div>
                    <div class="img-container error disabled"><img src="../static/img/ERR.svg" alt=""></div>
                    <div class="img-container waiting disabled"><img src="../static/img/wait.svg" alt=""></div>
                </button>
                <div class="img-container info"><img src="../static/img/user.svg" alt="user"><span id="rfid-2">info</span></div>
                
            </div>
            <div class="comment">
                <textarea name="comment" id="comment" placeholder="Комментарий к оборудованию"></textarea>
            </div>
            <div class="date-holder"><span>Планируемая дата возврата: </span><input type="date" min="" name="planned_date" id="planned_date" required></div>
            <div class="count-holder"><span>Количество: </span><input id="count" min="1" required name="count" type="number" value="1"></div>
        </div>
        <div class="confirm-btn"><button id="new_request" onclick="new_request(this)">Взять/Сдать оборудование</button></div>
    </div>
    <script src="../static/js/requests.js"></script>
</body>
</html>